.bank-name h1 {
	margin: 0;
	padding: 0;
}
.bank-name {
	// font-size: 1.6rem;

	color: #444444;
	background: #f2f2f2;
}
.bank-name h1 {
	margin-left: 4rem;
	padding: 0.5rem 0;
	font-family: 'Open Sans', sans-serif;
}
