.illustration-section {
	width: 60%;
	background-image: url(../images/undraw_web_search_eetr.svg);
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: top;
	// box-shadow: 0 0 5px rgba(0, 0, 0);
}

@media only screen and (max-width: 600px) {
	.illustration-section {
		width: 100%;
		background: none;
	}
}
